<div class="sliderBar">
    <div class="listImege">
        <img title ="London"           src="../Views/Shared/slider/london.jpg" alt="London"           class="slide" />
        <img title ="New York"         src="../Views/Shared/slider/ny.jpg"     alt="New York"         class="slide" />
        <img title ="Saint Petersburg" src="../Views/Shared/slider/spb.jpg"    alt="Saint Petersburg" class="slide" />
    </div>
    <div class="panelGrBox">
        <button class="btnCheck" id="ButtonOne"></button>
        <button class="btnCheck" id="ButtonTwo"></button>
        <button class="btnCheck" id="ButtonThree"></button>
    </div>
    <div class="navButtonPrev">
        <button class="ButtonSlider" id="ButtonPrev">PREV</button>
    </div>
    <div class="navButtonNext">
        <button class="ButtonSlider" id="ButtonNext">NEXT</button>
    </div>
</div>
<script type="text/javascript" src="../Static/JS/slider.js"></script>